.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
}

.mar-15 {
    margin-right: -15px;
    margin-left: -15px;
}

.pad-15 {
    padding-right: 15px;
    padding-left: 15px;
}

@for $i from 1 through 10 {
    .mt-#{$i}0 {
        margin-top: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i}0 {
        margin-bottom: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .ml-#{$i}0 {
        margin-left: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .mr-#{$i}0 {
        margin-right: 10px * $i;
    }
}